<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>treats app</title>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="box">
      @RenderBody()
      @await Html.PartialAsync("Footer")
    </div>
  </body>
</html>
